h1 {
    text-align: center;
    }
    
    p {
    background-color: rgb(153, 207, 162);
    font-size: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border:1px solid green;
    border-collapse:collapse;
}

.first-row{
    background-color:darkblue;
    color:white;
}

tr{
    border:1px solid darkblue;
}

img{
    width: 300px;
    height: 300px;
}

h2 {
    text-align: center;
    }

body {
    background-color: tan;
}

.tanjiro{
    color: darkgreen;
}

.zenitsu{
    color: darkorange;
}

.inoske{
    color: saddlebrown;
}

.nedzyko{
    color: tomato;
}

.shinoby{
    color: blueviolet;
}

.tamayo{
    color: rgb(71, 67, 67);
}
